* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,121,9,1) 42%, rgba(0,212,255,1) 100%);
}

#photo {
    width: 80%;
    height: 20vh;
    border: 1px solid black;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 10%;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
}

#cadre {
    width: 90%;
    height: 90%;
    margin: 3% auto auto;
    border-radius: 15%;
    box-shadow: 10px 10px 10px 0px rgba(219, 198, 198, 0.5);
    background-image: url("../images/groot.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#container {
    width: 70%;
    border: 8px solid #0a9d91;
    margin: 3% auto auto;
    border-radius: 5%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-wrap: wrap;
}

#colonne {
    width: 30%;
    height: 99.99%;
    background-color: darkcyan;
    border-top-left-radius: 29px;
    border-bottom-left-radius: 29px;
}

h1  {
    margin-left: -30%;
}

h2  {
    color: ghostwhite;
    font-size: large;
    margin-top: 15px;
    text-align: center;
    text-shadow: 2px 2px 2px #CE0B25;
}
li {
    color: #eae6bb;
    font-size: medium;
    text-align: left;
    margin-left: 10%;
    margin-top: 5px;
}

#texte {
    position: relative;
    font-size: 15px;
    margin-top: -850px;
    padding-left: 300px;
    text-align: center;
    width: 90%;
    height: 90%;
}
#competence {
   text-align: center;
}

#logo {
    width: 90%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
}

img {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
}

#cadre {
    border: 1px solid white;
}

#one #two {
    font-size: 20px;
    padding-top: 5px;
    padding-left: 10px;
}

